.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#home-screen{
  min-height: 895px;
}

.electrical{
    margin-top: 30px;
}

.universitylogo{
    margin-top: 30px;
}

.responsive-img.circle{

}

.condensed.grey-text{
  font-weight: 300;
}

.welcome.message{
  font-weight: 300;
}


.slogan{
  font-weight: 300;
  font-size: 3rem;
  margin-top: 0px;
}

.name-container{
  margin-bottom: 10px
}

.name{
  font-size: 8rem;
  margin-bottom: 0px;
  font-weight: 300;
}

.slider .indicators .indicator-item {
  background-color: #000000;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider .indicators .indicator-item.active {
  background-color: #42A5F5;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
}

#mainNav {
    position: fixed;
    z-index: 999;
    top: 0;
    font-weight: 500;
    background: #FFF;
    color: #00BCD4;
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
}

@media screen and (max-width: 755px) {
  .name{
    font-size: 6rem;
    margin-bottom: 0px;
    font-weight: 300;
  }
}

@media screen and (max-width: 500px) {
  .name{
    font-size: 6rem;
    margin-bottom: 0px;
    font-weight: 300;
  }

  .slogan{
    display:none;
  }

  #Github-button,#Linkedin-button,#Resume-button{
    display: block;
    margin: 20px 50px;
  }
}
