.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#home-screen{
  min-height: 895px;
}

.electrical{
    margin-top: 30px;
}

.universitylogo{
    margin-top: 30px;
}

.responsive-img.circle{

}

.condensed.grey-text{
  font-weight: 300;
}

.welcome.message{
  font-weight: 300;
}

.slider .indicators .indicator-item {
  background-color: #000000;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider .indicators .indicator-item.active {
  background-color: #42A5F5;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
}
