.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#home-screen{
  min-height: 895px;
}

.electrical{
    margin-top: 30px;
}

.universitylogo{
    margin-top: 30px;
}

.responsive-img.circle{

}

.condensed.grey-text{
  font-weight: 300;
}

.welcome.message{
  font-weight: 300;
}
