html {
  height: 100%;
}

body {
  background: #CAEBF2;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  display: flex;
}

.heading {
  margin-top: 0;
  color: #333333;
}

.details{
  margin-top: 0;
  color: #777777;
}

.container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.profile-image {
  border-radius: 125px;
  width: 250px;
  height: 250px;
  align-self: center;
  margin-bottom: 20px;
  margin-top: 5px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.link-container {
    margin-top: 10px;
}

.company-link {
  text-decoration: none !important;
  color: #777777;  
}

.link {
  font-size: 15pt;
  margin-bottom: 10px;
  color: #777777;
  text-decoration: none;
  padding: 5px;
}

.link:hover, .link:focus {
  text-decoration: none;
}

a:focus, a:hover {
    color: #D14836;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}